*{margin: 0}
header{background: blueviolet;
text-align: center;
width: 100%}

body{
	display:grid;
	width: 100%}
a{text-decoration: none;
color: white;}

li{padding: 10px 30px;
display: inline-block;}

ul{text-decoration: none;}
h1{text-align: center;}


.civiles{
background-color:darkred ;
	display:grid;
	grid-template-rows: REPEAT(2,350px );
	grid-template-columns:repeat(3,350px) ;
	border: 3px solid #000;
	grid-gap: 10px;
	place-items: CENTER;
	color: white;
	
}	
.bomberos{
background-color:midnightblue ;
	display:grid;
	
	grid-template-columns:repeat(3,350px) ;
	border: 3px solid #000;
	grid-gap: 10px;
	place-items: CENTER;
	color: white;
	
}	

.s1{width: 200px;
	
	background: #300;

}
.s2{width: 200px;
background: #300;/*
	position relative;
	top: -290px;
	right: -200px;*/
	
}

footer{background: lightcoral;
padding: 10px}

img{height: 200px;
	width: 170px;
padding: 10px}

.autoridades_policiales{
display:grid;
	grid-template-rows: repeat(2,350px);
	grid-template-columns:repeat(3,380px);
	border: 3px solid #000;
	grid-gap: 10px;
	background-color: #300;
	color:white;	
place-items: CENTER
}
main{width: 100%}
button{border-radius: 10%;
	height: 30PX;
	text-align: center;}
.button{margin: 10PX;	
	text-align: center;	

align-items: center;
height: 50px
}
button a{color: black;}
